@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff"), url("../fonts/Lifehack/lifehack_medium-webfont.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff"), url("../fonts/Gagalin/gagalin-regular-webfont.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *::after {
  /* outline: 1px solid white; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-family: "Ubuntu", Arial, sans-serif; }

h1, h2, p {
  padding: 0;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.section {
  height: 100vh;
  min-height: 650px;
  position: relative; }

.container {
  width: 87.27%;
  max-width: 960px;
  margin: 0 auto; }

.button {
  display: block;
  padding: 6.5px 12px;
  border-radius: 8px;
  text-align: center;
  background-color: #e45028;
  color: #fff;
  font: normal 14px/1.714 "Ubuntu";
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .button:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%); }

.text {
  font: bold 13px/2.308 "Ubuntu";
  color: #fff; }

.burger {
  background: url("../images/bg/bgimage1.png") no-repeat;
  background-size: cover; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10.5px; }

.header__left {
  margin-right: auto;
  padding-left: 6px; }

.header__center {
  padding-right: 17px; }

.nav__list {
  width: 510px; }

.nav__item {
  display: inline-block;
  vertical-align: middle; }
  .nav__item:after {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle; }

.header__right {
  padding-right: 15px; }

.burger__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* flex-wrap: wrap; */ }

.burger__pic {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: right; }

.burger__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding-top: 30px; }

.burger__img {
  width: 94%;
  max-width: 480px;
  margin-right: 5px; }

.section__title {
  padding-left: 10px;
  padding-top: 23px;
  color: #f9b43b;
  font: 72px/1.181 "Gagalin", "Arial"; }

.section__minititle {
  padding-left: 8px;
  padding-top: 20px;
  font: 62px/1 "Lifehack"; }

.scroll {
  text-align: center;
  padding-top: 82px; }

.best {
  background: url("../images/bg/bgimage2.png") no-repeat;
  background-size: cover; }

.section__title--best {
  color: #2f3234;
  text-align: center;
  padding-top: 12.1%;
  padding-left: 0; }

.best__list {
  padding-top: 3.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  text-align: center; }
  .best__list li {
    width: 31.25%;
    max-width: 320px; }

.section__minititle--best {
  font-size: 24px;
  line-height: 1.167;
  color: #2f3234;
  padding-top: 9%; }

.text--best {
  color: #2f3234;
  padding: 5% 3.5%;
  text-align: center;
  line-height: 2;
  max-height: 150px;
  overflow: hidden; }

.best__pic--natural {
  padding-bottom: 6px; }

.opinios__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center; }

.opinions__item {
  width: 25%;
  height: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  position: relative; }
  .opinions__item:hover .opinions__photo {
    -webkit-filter: grayscale(100%) brightness(50%);
    filter: grayscale(100%) brightness(50%); }
  .opinions__item:hover .opinions__info {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }

.opinions__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.opinions__info {
  width: 100%;
  height: 100%;
  padding: 45px 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8); }

.opinions__title {
  font: 14px/1.181 "Gagalin", "Arial";
  text-align: left;
  margin-bottom: 10px; }

.opinions__text {
  font-weight: light;
  line-height: 1.75;
  text-align: left;
  overflow: hidden;
  max-height: 150px;
  padding-top: 12px; }

.button__gray {
  margin-top: 17px;
  margin-left: 1.5px;
  width: 110px;
  background-color: #2f3234; }

.sidebar {
  position: fixed;
  top: 94px;
  left: 94%; }

.sidebar__nav {
  height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sidebar__item {
  width: 16px;
  height: 16px;
  text-align: center; }
  .sidebar__item:hover {
    border: 1px solid #fff;
    border-radius: 50%; }

.sidebar__link {
  width: 25%;
  height: 25%;
  margin: 37.5%;
  display: block;
  background-color: #fff;
  border-radius: 50%; }
