//normalize
@import "layout/normalize.scss";

//One Page Scroll
@import "layout/onePageScroll.scss";

//config

@import "config/mixins.scss";
@import "config/variables.scss";
@import "config/functions.scss";

//layout
@import "layout/font.scss";
@import "layout/iconfont.scss";
@import "layout/allpages.scss";

//section

@import "section/burgers.scss";
@import "section/best.scss";
@import "section/slider.scss";
@import "section/team.scss";
@import "section/menu.scss";
@import "section/opinions.scss";
@import "section/order.scss";
@import "section/contacts.scss";

//blocks

@import "blocks/humburger-menu.scss";
@import "blocks/nav-mobile.scss";
@import "blocks/composition.scss";
@import "blocks/kkal.scss";
@import "blocks/opinionoverlay.scss";
@import "blocks/fixedMenu.scss";
