.sidebar {
	position: fixed;
    top: rem(94px);
    left: 94%;
}

.sidebar__nav {
    height: rem(162px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar__item {
    width: rem(16px);
    height: rem(16px);
    text-align: center;
     &:hover {
        border: rem(1px) solid $white;
        border-radius: 50%;
    }
}

.sidebar__link {
    width: 25%;
    height: 25%;
    margin: 37.5%;
    display: block;
    background-color: $white;
    border-radius: 50%;
}

