.best {
	background: url("../images/bg/bgimage2.png") center center no-repeat;
	background-size: cover;
}

.best__container {
	justify-content: flex-start;
}

.section__title--best {
	color: $black;
	text-align: center;
	padding-top: 12.1%;
}

.best__list {
	padding-top: 3.6%;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	text-align: center;
}

.best__item {
	width: 31.25%;
	max-width: rem(320px);
}

.section__minititle--best {
	font-size: rem(24px);
	color: $black;
	padding-top: 9%;
	line-height: 1.161;
}

.best__descr {
	color: $black;
	padding: 5% 3.5%;
	align-text: justify;
	max-height: rem(150px);
	overflow: hidden;
}

.best__pic--natural {
	padding-bottom: rem(6px);
}