.best {
	background: url("../images/bg/bgimage2.png") no-repeat;
	background-size: cover;
}

.section__title--best {
	color: $black;
	text-align: center;
	padding-top: 12.1%;
	padding-left: 0;
}

.best__list {
	padding-top: 3.6%;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	text-align: center;
	li {
		width: 31.25%;
		max-width: 320px;
	}
}

.section__minititle--best {
	font-size: 24px;
	line-height: 1.167;
	color: $black;
	padding-top: 9%;
}

.text--best {
	color: $black;
	padding: 5% 3.5%;
	text-align: center;
	line-height: 2;
	max-height: 150px;
	overflow: hidden;
}

.best__pic--natural {
	padding-bottom: 6px;
}