.burger {
	background: url("../images/bg/bgimage1.png") center center no-repeat;
	background-size: cover;
}

.burger__container {
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__left {
	margin-right: auto;
	padding-left: rem(7px);
	padding-top: rem(11px);
}

.header__right {
	display: flex;
	align-items: center;	 
}

.header__nav {
	padding-right: rem(18px);

	@include tablets {
		display: none;
	}
}

.nav__item {
	display: inline-block;
	vertical-align: middle;
	font-family: "Ubuntu", "Arial";
	font-size: rem(13px);
	line-height: 2.308;
	font-weight: medium;

	&:after {
		display: inline-block;
		margin: 0 rem(13px);
		content: ' ';
		@include circle(rem(4px), $white);
	}
	
	&:last-child:after {
		display: none;
	}
}

.nav__link {
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	color: $white;
}

.burger__content {
	flex: .8;
	display: flex;
	justify-content: center;
	align-items: center;
	
	@include tablets {
		flex-direction: column;
	}
}

.header__btn {
	display: flex;
	align-items: center;
	padding-right: rem(12px);
	margin-top: rem(2px);
}

.button--burger {
	@include tablets {
		padding: rem(3px) rem(18px);
	}
}

.burger__content {
	margin-bottom: rem(80px);

	@include phones {
		margin-bottom: 0;
		min-height: rem(610px);
	}
}

.burger__pic {
	flex: 1 1 50%;
	text-align: center;
}

.burger__img {
	display: block;
	width: 100%;
	max-width: rem(450px);
	margin-left: rem(25px);  

	@include tablets {
		margin-left: 0;
	}

	@include phones {
		max-width: rem(360px);
	}
}

.burger__info {
	flex: 1 1 50%;
	margin-top: rem(70px);
	margin-left: rem(20px);

	@include tablets {
		margin-top: rem(25px);
		margin-left: 0;
		text-align: center;
	}

	@include phones {
		margin-top: rem(38px);
	}
}

.section__title {
	color: $orange;
	font-family: "Gagalin";
	font-size: rem(72px);
	line-height: 1.181;

	@include phones {
		font-size: rem(50px);
	}

	&--burger {
		@include phones {
			font-size: rem(63px);
		}
	}
}

.section__minititle {
	font-family: "Lifehack";
	font-size: rem(62px);
	line-height: 1;

	@include phones {
		font-size: rem(52px);
	}

	&-burger {
		padding-top: rem(15px);

		@include tablets {
			padding-top: rem(25px);
			line-height: 0.95;
		}

		@include phones {
			padding-top: rem(4.5px);
			line-height: 1.15;
		}
	}
}

.scroll {
	text-align: center;
	padding-bottom: rem(55px);

	@include phones {
		padding-bottom: rem(25px);
	}
}


