.burger {
	background: url("../images/bg/bgimage1.png") center center no-repeat;
	background-size: cover;
}


.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-top: rem(10.5px); */ 
}

.header__left {
	margin-right: auto;
	padding-left: rem(17px);
	padding-top: rem(3px);
}

.header__right {
	display: flex;
	align-items: center;	 
}

.nav__list {
	padding-right: rem(16px);
}

.nav__item {
	display: inline-block;
	vertical-align: middle;
	font-family: "Ubuntu", "Arial";
	font-size: rem(13px);
	line-height: 2.308;
	font-weight: medium;

	&:after {
		display: inline-block;
		margin: 0 rem(13px);
		content: ' ';
		@include circle(rem(4px), $white);
	}
	
	&:last-child:after {
		display: none;
	}
}

.nav__link {
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	color: $white;
}

.burger__content {
	flex: .8;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-wrap: wrap; */
}

.burger__pic {
	flex: 1 1 50%;
	text-align: right;
}

.burger__img {
	width: 94%;
	max-width: rem(480px);  
}

.burger__info {
	flex: 1 1 50%;
	margin-top: rem(65px);
}

.section__title {
	color: $orange;
	font-family: "Gagalin";
	font-size: rem(72px);
	line-height: 1.181;

	&--burger {
		padding-left: rem(10px);
	}
}

.section__minititle {
	font-family: "Lifehack";
	font-size: rem(62px);
	line-height: 1;

	&-burger {
		padding-left: rem(10px);
		margin-top: rem(15px);
	}
}

.scroll {
	text-align: center;
	padding-top: rem(82px);
}


