.contacts__container {
	width: 100vw;
	max-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.contacts__map {
	width: 100%;
	height: 100%;	
}

.footer {
	height: rem(58px);
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("../images/bg/bgfooter.png");
	background-position: cover;

	@include phones {
		height: rem(115px);
	}
}

.footer__container {
	height: 100%;
	max-width: rem(960px);
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 0 rem(6px);

	@include tablets {
		max-width: rem(720px);
	}
	
	@include phones {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

.footer__info {
	flex: 1;

	@include phones {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.footer__info-address {
	letter-spacing: rem(-0.1px);
}

.footer__info-tel {
	color: #bc4222;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.icon-phone {
	margin-right: rem(10px);
	fill: #bc4222;
	width: rem(12px);
	height: rem(12px);
}

.footer__socials {
	flex: 1;
	text-align: right;

	@include phones {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}