.menu {
	background: url("../images/bg/bgmenu.jpg") center center no-repeat;
	background-size: cover;
}

.menu__container {
	max-width: 100%;
	flex-direction: row;
	justify-content: flex-start;
}

.section__title--menu {
	position: relative;
	z-index: 100;
	padding-top: rem(96px);
	padding-left: rem(73px);
	color: $white;

	@include tablets {
		padding-left: rem(10px);
	}

	@include phones {
		padding-top: rem(50px);
		padding-left: rem(50px);
	}
}

.menu__info {
	width: 70%;
	position: absolute;
	z-index: 500;
	right: 0;
	top: 0;
	bottom: 0;
}

.menu__accordion {
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.menu__accordion-item {
	display: flex;
	background-color: rgba(#2f3234, .93);
}

.menu__accordion-item--active {

	.menu__accordion-content {
		width: rem(540px);
		transition: width 0.5s;

		@include tablets {
			width: calc(100vw - 240px);
		}

		@include phones {
			width: calc(100vw - 80px);
		}
	}

	.menu__accordion-trigger__text {
		color: $orange;
	}
}

.menu__accordion-trigger {
	align-self: flex-end; 
	width: rem(80px);
	height: 100%;
	color: $white;
	font-family: "Gagalin", "Arial";
	font-size: rem(40px);
	line-height: 1.181;
	background: url("../images/content/eatmeat.jpg") center center no-repeat;
	background-size: cover; 

	&--veg {
		background: url("../images/content/veg.jpg") center center no-repeat;
		background-size: cover;
	}

	&--diet {
		background: url("../images/content/diet.jpg") center center no-repeat;
		background-size: cover;
	}
}

.menu__accordion-trigger__text {
	position: relative;
	top: 100%;
	height: rem(80px);  
	display: block;
	min-width: rem(650px);
	transform-origin: 0% 0%;
	transform: rotate(-90deg);
	text-indent: rem(40px);
	line-height: 2;
	color: $white;

	@include phones {
		padding-left: rem(20px);
	}
}

.menu__accordion-content {
	width: 0;
	overflow: hidden;
}

.menu__accordion-content__text {
	padding: rem(56px) rem(35px);
	letter-spacing: rem(-0.2px);
	line-height: 1.75;
}