.opinios__list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.opinions__item {
	width: 25%;
	height: 50%;
	flex: 1 1 25%;
	position: relative;
	&:hover {
		.opinions__photo {
			filter: grayscale(100%) brightness(50%); 
		}

		.opinions__info {
			opacity: 1;
			transform: scale(1, 1);
		}
	}

	@include tablets {
		width: 50%;
		height: 25%;
		flex: 1 1 50%;
	}
}

.opinions__photo {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: 0.7s;
}

.opinions__info {
	width: 100%;
	height: 100%;
	padding: rem(45px) rem(20px);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.7s;
	transform: scale(0.8, 0.8);
	
	@include tablets {
		text-align: center;
		padding: rem(30px) rem(47px);
	}
}

.opinions__title {
	font-family: "Gagalin", "Arial";
	font-size: rem(14px);
	line-height: 1.5;
	margin-bottom: rem(17px);
	letter-spacing: rem(-0.3px);

	@include tablets {
		line-height: 0.65;
	}

	@include phones {
		padding-top: rem(10px);
		line-height: 1.2;
		font-size: rem(24px);
	}
}

.opinions__text {
	font-weight: light;
	line-height: 1.785;
	overflow: hidden;
	max-height: rem(150px);

	@include tablets {
		padding-top: rem(2px);
		max-height: rem(120px);
	}
	
	@include phones {
		display: none;
	}
}

.button__gray {
	position: relative;
	margin-top: rem(11.5px);
	width: rem(110px);
	height: rem(35px);
	background-color: $grey;

	@include tablets {
		margin-top: rem(20px);
	}

	@include phones {
		margin-top: rem(6px);
		width: rem(126px);
		height: rem(32px);
	}

	&:after {
		content: "читать отзыв";
		display: block;
		padding-top: rem(2px);
		border-radius: rem(5px);
		width: rem(126px);
		height: rem(32px);
		position: absolute;
		background-color: $grey;
		left: 0;
		top: 0;
		opacity: 0;

		@include phones {
			opacity: 1;
		}
	}
}