.opinions {
	width: 100%;
}

.opinios__list {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.opinions__item {
	width: 25%;
	height: 50%;
	flex: 1 1 25%;
	position: relative;
	&:hover {
		.opinions__photo {
			filter: grayscale(100%) brightness(50%); 
		}

		.opinions__info {
			opacity: 1;
		}
	}
}

.opinions__photo {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.opinions__info {
	width: 100%;
	height: 100%;
	padding: 45px 20px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.opinions__title {
	font: 14px/1.181 "Gagalin", "Arial";
	text-align: left;
	margin-bottom: 10px;
}

.opinions__text {
	font-weight: light;
	line-height: 1.75;
	text-align: left;
	overflow: hidden;
	max-height: 150px;
	padding-top: 12px;
}

.button__gray {
	margin-top: 17px;
	margin-left: 1.5px;
	width: 110px;
	background-color: $grey;
}