.team {
	background: url("../images/bg/bgteam.jpg") center center no-repeat;
	background-size: cover;
}

.team__container {
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(#2f3234, .93);
	align-items: center;

	@include tablets {
		width: 100%;
	}
}

.team__info {
	width: 65.5%;
	padding-left: rem(10px);

	@include tablets {
		text-align: center;
	}
}

.section__title--team {
	padding-top: rem(30px);
	padding-bottom: rem(27px);
}

.team__accordion-item {
	margin-bottom: rem(17px);
}

.team__accordion-item--active {
	margin-bottom: rem(35px);

	.team__accordion-content {
			height: auto;
		}

	.team__accordion-trigger {
		color: $orange;

		&:before {
			transform: rotate(180deg);
		}
	}
}

.team__accordion-trigger {
	display: block;
	font-family: "Gagalin", "Arial";
	font-size: rem(14px);
	line-height: 2.008;
	color: $white;
	
	&:before {
		content: "";
		width: 0;
		height: 0;
		display: inline-block;
		border: rem(5px) solid transparent;
		border-top-color: $orange;
		border-bottom-width: 0;
	}

	@include tablets {
		font-size: rem(24px);
	}
}

.team__accordion-content {
	display: flex;
	height: 0;
	overflow: hidden;
	margin-top: rem(10px);

	@include tablets {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.team__accordion-pic {
	min-width: rem(100px);
	max-width: rem(100px);
	height: rem(100px);
	overflow: hidden;
	border-radius: 50%;
	border: rem(1px) solid transparent;
	margin: 0 rem(17px);
}

.team__accordion-photo {
	position: relative;
	right: rem(17px);
}

.team__accordion-text-title {
	font-weight: bold;
}

.team__accordion-text-content {
	padding-top: rem(8px);
	
	@include tablets {
		max-width: rem(348px);
	}
}