*, *::after {
	/* outline: rem(1px) solid white; */ 
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $white;
	font-family: "Ubuntu", "Arial";
	font-size: rem(14px);
	line-height: 1.714;
	font-weight: light;

	&::-webkit-scrollbar {
		width: rem(0px);
	}
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

input, textarea {
	outline: none;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.section {
	height: 100vh;
	min-height: rem(650px);
	position: relative;
}
	
.container {
	height: 100%;
	width: 96%;
	max-width: rem(960px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	cursor: pointer;
	display: inline-block;
	padding: rem(3px) rem(15px);
	border-radius: rem(8px);
	text-align: center;
	background-color: $red;
	color: $white;
	font-family: "Ubuntu", "Arial";
	font-size: rem(13px);
	line-height: 2.308;
	font-weight: medium;
	text-transform: uppercase;
	transition: 0.5s;
		&:hover {
			filter: brightness(60%); 
		} 
}

