*, *::after {
	/* outline: 1px solid white; */ 
	box-sizing: border-box;
}

html {
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: $white;
	font-family: "Ubuntu", Arial, sans-serif;
}

h1, h2, p {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.section {
	height: 100vh;
	min-height: 650px;
	position: relative;
}
	
.container {
	width: 87.27%;
	max-width: 960px;
	margin: 0 auto;
}

.button {
	display: block;
	padding: 6.5px 12px;
	border-radius: 8px;
	text-align: center;
	background-color: $red;
	color: $white;
	font: normal 14px/1.714 "Ubuntu";
	text-transform: uppercase;
	transition: 0.5s;
		&:hover {
			filter: brightness(60%); ;
		} 
}

.text {
	font: bold 13px/2.308 "Ubuntu";
	color: $white;
}