@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/Lifehack/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/Lifehack/lifehack_medium-webfont.woff') format('woff'),
         url('../fonts/Lifehack/lifehack_medium-webfont.svg#lifehackmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/Gagalin/gagalin-regular-webfont.woff') format('woff'),
         url('../fonts/Gagalin/gagalin-regular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: regular;
    font-style: normal;
}