.composition {
	position: absolute;
	top: 0;
	left: rem(10px);
	cursor: pointer;

	@include tablets {
		left: 17.6%;
	}

	@include phones {
		left: 0;
		top: rem(-5px);
	}

	&:hover {
		>.composition__btn {
			background-color: rgba(277, 80, 40, 1);
		}

		>.composition__drop {
			opacity: 1;
			top: 0;
		}
	}
}

.composition__btn {
	width: rem(90px);
	height: rem(90px);
	border-radius: rem(5px);
	background-color: rgba(277, 80, 40, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: rem(12px);
}

.icon-burger {
	font-size: rem(45px);	
}

.composition__text {
	font-family: "Gagalin", "Arial";
	font-size: rem(14px);
	line-height: 2.008;
}

.composition__drop {
	position: absolute;
	z-index: 900;
	top: rem(-5000px);
	left: rem(90px);
	width: rem(270px);
	height: rem(332px);
	border-radius: rem(5px);
	background-color: rgba($white, 0.902);
	padding: rem(14px) rem(19px) rem(13px);
	color: $black;
	font-weight: medium;
	opacity: 0;
	transition: opacity 1s;
}

.composition__table {
	width: 100%;
	height: 100%;
	border-style: hidden;
}

.composition__table-tr {
	:first-child {
		width: rem(65px);
	}

	:nth-child(3) {
		text-align: right;
	}
}

.composition__table-tr::nth-last-child {
		text-align: right;
		color: red;
	}

.composition__table-td {
	span {
		display: block;
		font-size: rem(45px);
		padding: 0;
	}
}