.nav-fixed {
	position: fixed;
    top: rem(89px);
    right: rem(48px);
}

.nav-fixed__list {
    height: rem(167px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-fixed__link {
    width: rem(18px);
    height: rem(18px);
    display: block;
    border: rem(1px) solid transparent;
    border-radius: 50%;
    position: relative;
    
    &:hover {
        border-color: $white;
    } 

    &:before {
        content: "";
        display: block;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background-color: $white; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav-fixed__item.active {
    >.nav-fixed__link {
        border: 1px solid $white;
    }
}
