.nav-mobile {
	position: fixed;
	z-index: 10000;
	right: 0;
	top: -100%;
	width: 100vw;
	height: 100vh;
	background-color: $grey;
	border: rem(2px) solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-mobile_active {
	top: 0;
}

.nav-mobile__logo {
	position: absolute;
	top: rem(10px);
	left: rem(20px);
}

.nav-mobile__close {
	position: absolute;
	top: rem(30px);
	right: rem(30px);

	&:hover {
		filter: brightness(60%);
	}
}

.nav-mobile__item {
	&:after {
		display: block;
		margin: rem(18px) auto;
		content: '';
		@include circle(rem(6px), $white);
	}
	
	&:last-child:after {
		display: none;
	}
}

.nav-mobile__link {
	display: block;
	font-family: "Ubuntu", "Arial";
	font-size: rem(23px);
	line-height: 1.667;
	font-weight: medium;
	color: $white;
	text-transform: uppercase;
	text-align: center;
}

