.opnions__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	background-color: rgba($grey, 0.92);
};

.overlay-container {
	position: relative;
	top: 18.75%;
	width: rem(460px);
	height: rem(254px);
	border-radius: rem(5px);
	background-color: $white;
	padding:rem(21px) rem(20px);
}

.overlay__close {
	display: block;
	position: absolute;
	top: rem(21px);
	right: rem(20px);
}

.overlay__title--opinions {
	font-family: "Gagalin", "Arial";
	font-size: rem(14px);
	color: $black;
	line-height: 2.008;
}

.overlay__text--opinions {
	font-weight: light;
	line-height: 1.75;
	color: $black;
	max-height: rem(210px);
}